*{
    margin: 0;
    padding: 0;
    z-index: 1;
}
html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
  }

/*Animations*/
@keyframes FadeInbottom {
    from {
        transform: translateY(50px);
        opacity: 0%;
    }
    to {
        transform: translateY(0px);
        opacity: 100%;
  }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-30px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
  }
}

@keyframes slideInTop {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
  }
}

@keyframes slideOutTop {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
  }
}

@keyframes fade-out {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

.slideout-top{
    position: absolute;
    z-index: 6;
    background-color: #ecd91c;
    width: 100vw;
    height: 100vh;
    animation: slideOutTop .5s forwards;
    transform-origin: top;
}
.slideout-bottom{
    position: absolute;
    z-index: 6;
    background-color: #232323;
    margin-left: 50%;
    width: 50vw;
    height: 100vh;
    animation: slideOutTop .5s forwards;
    transform-origin: bottom;
}
/*Navbar*/
.navlogo {
    display: block;
    margin-left: 10px;
    height: 70px;
    width: 45px;
    padding-top: 10px;
    z-index: 3;
}
.mnavo {
    width: 100vw;
    position: absolute;
}
.mnavo-t{
    color: #232323;
    text-decoration: none;
    font-size: 10px;
}
.mnavo-t h1 {
    width: fit-content;
    margin-top: -12%;
    text-align: right;
    margin-left: 85%;
    font-family: 'Bebas Neue', cursive;
}
.mnav_2{
    display: none;
}
.mnav_1 {
    display: none;
}
@media only screen and (min-width: 1000px){
    #mheader {
        background-color: #ecd91c   ;
        height: 15vh;
        display: block;
    }
    .navlogo{
        position: absolute;
        display: inline;
        height: 100px;
        width: 65px;
        margin-left: 1%;
        padding-top: 15px;
        transition: 0.15s ease-in-out;
    }
    .navlogo:hover{
        border-bottom: #232323 6px solid;
        transition: 0.2s ease-in-out;
    }
    .imgnav {
        opacity: 0;
        animation: fade-in .5s ease-in forwards;
        animation-delay: 1.5s;
    }
    .mnav_1{
        position: absolute;
        top: 45px;
        right: 325px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        z-index: 2;
    }
    .navitems_1 {
    list-style: none;
   
   }
   .item_1{
    opacity: 0;
    display: inline-block;
    margin: 0 16px;
    animation: fade-in .5s ease-in forwards;
    animation-delay: 1.5s;
   }
   .item_1 a {
        text-decoration: none;
        color: #ecd91c;
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
    }
    .item_1 :hover {
        font-family: 'Bebas Neue', cursive;
        border-bottom: 5px solid #ecd91c;
        transition: 0.15s ease-in-out;
    }
    .mnav{
        position: absolute;
        top: 45px;
        right: 325px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        z-index: 2;
    }
    .navitems {
    list-style: none;
   
   }
   .item{
    opacity: 0;
    display: inline-block;
    margin: 0 16px;
    animation: fade-in .5s ease-in forwards;
    animation-delay: 1.5s;
   }
   .item a {
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
    }
    .item :hover {
        font-family: 'Bebas Neue', cursive;
        border-bottom: 5px solid #232323;
        transition: 0.15s ease-in-out;
    }
}

/* Landing Page */
#land_into {
    overflow: none;
}
@media only screen and (min-width: 1000px){
    #land_intro{
        background-color: #ecd91c;
        width: 1;
        height: 85vh;
    }
    .robo {
        position: relative;
        height: 100vh;
        top: -15vh;
        width: 50vw;
        background-color: #232323;
        object-fit: contain;
        float: right;
    }
    .robo_img{
        box-sizing: border-box;
        width: fit-content;
        margin-top: 25vh;
        height: 50%;
        overflow: none;
    }
    .robo_text{
        display: none;
    }

    .robo_text.active {
        font-size: 15px;
        display: block; 
        color: #ecd91c;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        margin-top: -45px;
    }
    .robo_text2.active{
        display: none;
    }
    .robo_text2 {
        opacity: 0;
        font-size: 15px;
        display: block; 
        color: #ecd91c;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        animation: fade-in .5s ease-in forwards;
        animation-delay: 1.5s   ;
        margin-top: -45px;
    }
    .robo_text2 h1 {
        margin-top: -50px;
    }
    .lbtg1 {
        opacity: 0;
        width: 50%;
        animation: slideInLeft 1s forwards;
        animation-delay: .5s;
    }
    .lbtg1 h1 {
        margin-left: 15%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 100px;    
    }
    .lbtg1 h2 {
        margin-top: -1%;
        margin-left: 15%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;    
    }
    .lbtg2 {
        opacity: 0;
        width: 50%;
        margin-top: 25px;
        animation: slideInLeft 1s forwards;
        animation-delay: 1.5s;
    }
    .lbtg2 h1 {
        margin-left: 15%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;    
    }
    .lbtg3 {
        opacity: 0;
        width: 50%;
        margin-top: 25px;
        animation: slideInLeft 1s forwards;
        animation-delay: 2.5s;
    }
    .lbtg3 h1 {
        margin-left: 15%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;    
    }
    /* Works Page */
    #worksBody {
        background-color: #ecd91c;
        width: 100vw;
        height: 85vh;
    }
    .ScrollItems{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 1620px;
        height: 84vh;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 800px;
        grid-gap: 30px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        transition: ease-in .2s;
        overflow-x: scroll; 
    }
    .ScrollItems::-webkit-scrollbar{
        display: none;
    }
    .worksIntro{
        background-color: #ecd91c;
        flex: none;
        width: 800px;
        height: 700px;
        object-fit: contain;
        scroll-snap-align: start;
    }
    .wit1{
        opacity: 0;
        width: 90%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 90px;
        animation: slideInLeft 1s forwards;
        animation-delay: .5s;   
    }
    .wit2{
        opacity: 0;
        width: 80%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        animation: slideInLeft 1s forwards;
        animation-delay: 1.5s;  
    }
    .wit3{
        display: grid;
        opacity: 0;
        width: 80%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        animation: slideInLeft 1s forwards;
        animation-delay: 2.5s;
    }
    .Sitem {
        opacity: 0;
        flex: none;
        width: 800px;
        height: 700px;
        object-fit: contain;
        scroll-snap-align: start;
        animation: FadeInbottom 1s forwards;
        animation-delay: 1.5s; 
    }
    .Sitem img{
        width: 100%;
        height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: ease-in-out .2s;
    }
    .Sitem img:hover{
        width: 95%;
        height: 95%;
    }
    .Sitem_text1{
        display: none;
    }
    .Sitem_text1.active{
        display: block;
        margin-top: 20px;
        width: 80%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
    }
    .Sitem_text2{
        display: none;
    }
    .Sitem_text2.active{
        display: block;
        margin-top: 20px;
        width: 80%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
    }
    .Sitem_text3{
        display: none;
    }
    .Sitem_text3.active{
        display: block;
        margin-top: 20px;
        width: 80%;
        text-decoration: none;
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
    }
}
/* Contacts Page */

#cthumb {
    width: 100vw;
    height: 85vh;
    background-color: #ecd91c;
    color: #232323;
}
.cemail {
    width: 50vw;
}
.cemail h1{
    opacity: 0;
    margin-left: 15%;
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    animation: slideInLeft 1s forwards;
    animation-delay: .5s;   
}
.cemail a{
    text-decoration: none;
    transition: ease-in-out .3s;

}
.cemail h2{
    opacity: 0;
    width: fit-content;
    margin-left: 15%;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #232323;
    animation: slideInLeft 1s forwards;
    animation-delay: .5s; 
    font-size: 70px;
    transition: ease-in-out .3s;

}
.cemail a :hover{
    font-size: 75px;
    text-decoration: underline;
    transition: ease-in-out .3s;
}
.social_links {
    width: 50vw;
    margin-top: 50px;
}
.social_links a{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #232323;
    font-size: 35px;
    transition: ease-in-out .3s;
}
.social_links h1 {
    opacity: 0;
    margin-left: 15%;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    animation: slideInLeft 1s forwards;
    animation-delay: 1.5s;   
}
.social_links h2{
    margin-left: 15%;
    font-family: 'Fira Sans', sans-serif;
    color: #232323;
    width: fit-content;
    animation: slideInLeft 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;

}
.social_links a:hover{
    font-size: 40px;
    text-decoration: underline;
    transition: ease-in-out .3s;

}